@font-face {
  font-family: IranSansWeb;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/IRANSans_Bold.ttf) format(truetype);
}
@font-face {
  font-family: IranSansWeb;
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/IRANSans_Light.ttf) format(truetype);
}

@font-face {
  font-family: IranSansWeb;
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/IRANSans_Medium.ttf) format(truetype);
}